body{
    background-color: black;
}

.cta-res-w{
    display: none;
}

.resCta {
    display: block;
    position: relative;
    margin-bottom: 9vw;
    text-align: center;
    margin-top: 12vw;
}
.topCta{
    width: 70vw;
}
.resT-btn {
    position: absolute;
    top: 64%;
    left: 25%;
    width: 50vw;
    height: 10vw;
    font-size: 3.5vw;
    font-weight: bold;
    font-family: serif;
    outline: none;
    color: #ffffff;
    background-color: #3eb14c;
}

.resT-btn:active{
    background-color: #74ff17;
}






/*-----------------------------------ヘッダーのCSS----------------------------*/
header{
    height: 6vw;
    background-color: black;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-top: 1vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.topBtn{
    width: 18.5vw;
    height: 4vw;
    color: white;
    font-weight: bold;
    font-size: 1.6vw;
    font-family: serif;
    margin-top: 1vw;
    outline: none;
    cursor: pointer;
    background-color: #3eb14c;
}
.topBtn:hover{
    color: white;
    background-color: #6de02b;
}
.topBtn:active{
    background-color: #74ff17;
}
.logo{
    width: 5vw;
    margin-left: 13.9vw;
    margin-top: 0.6vw;
}
header p{
    color: white;
    font-size: 2vw;
    margin: 0;
    font-family: serif;
    margin-left: 8vw;
    margin-top: 10%;
}

/*-----------------------------------ヘッダーのCSS----------------------------*/

.top-wrapper{
    text-align: center;
    background-color: black;
}
.topImg {
    width: 70vw;
    margin-top: 4vw;
    margin-bottom: 1vw;
}

.world-w{
    text-align: center;
    margin-top: 2vw;
}
.world{
    width: 70vw;
    margin-bottom: 3vw;
}
.start{
    width: 70vw;
    margin-bottom: 5vw;
}
.jef{
    width: 70vw;
    margin-bottom: 5vw;
}
.bir{
    width: 70vw;
    margin-bottom: 5vw;
}
.yanai{
    width: 70vw;
    margin-bottom: 5vw;
}
.bel{
    width: 70vw;
    margin-bottom: 5vw;
}
.mori{
    width: 70vw;
    margin-bottom: 5vw;
}
.bfe{
    width: 70vw;
    margin-bottom: 5vw;
}



.grid{
    margin-bottom: 2vw;
}

.content-wrapper{
    background-color: rgb(0, 0, 0);
}


.background-w{
    text-align: center;
}
.background{
    margin-top: 2vw;
    width: 70vw;
}



.img50{
    display: flex;
    justify-content: center;
    margin-top: 1vw;
}
.textImg{
    width: 50vw;
    margin-right: 1vw;
}
.hiruzu{
    width: 19vw;
}




.cta-w{
    position: relative;
    text-align: center;
    margin-top: 7vw;
}
.cta{
    width: 70vw;
}
.ctaBtn {
    position: absolute;
    top: 73%;
    left: 50%;
    width: 25vw;
    height: 5vw;
    background-color: #3eb14c;
    color: white;
    outline: none;
    font-family: serif;
    font-weight: bold;
    font-size: 2.1vw;
    cursor: pointer;
}
.ctaBtn:hover{
    background-color: #6de02b;
}
.ctaBtn:active{
    background-color: #74ff17;
}



.six{
    margin-top: 2vw;
    text-align: center;
}
.sixTop{
    width: 70vw;
    margin-bottom: 1vw;
}
.six img{
    width: 70vw;
    margin-bottom: 5vw;
}
.grid-w{
    width: 72vw;margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.8vw;
}
.grid-w img {
    width: 23.8vw;
    height: 15vw;
}
.more{
    margin-bottom: 2vw;
}


.but-w{
    margin-bottom: 1vw;
    text-align: center;
}
.but{
    width: 70vw;
    margin-top: 6vw;
}


.trouble-w{
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 9vw;
}
.fire {
    width: 70vw;
    margin-top: 3vw;
    margin-bottom: 7vw;
}

.plo1{
    width: 70vw;
    margin-bottom: 11vw;
}
.plo2{
    width: 70vw;
}






.reason-w{
    text-align: center;
    margin-top: 2vw;
}
.free{
    width: 70vw;
    margin-top: 8vw;
    margin-bottom: 3vw;
}
.reacon {
    width: 70vw;
    vertical-align: bottom;
    margin-bottom: 5vw;
}
.mlm{
    width: 70vw;
}





.int-w{
    margin-top: 2vw;
    text-align: center;
}
.intro {
    margin: auto;
    margin-top: 5vw;
    margin-bottom: 4vw;
    width: 70vw;
}



.re-w{
    margin-top: 2vw;
    text-align: center;
    
}
.re-mori{
    width: 70vw;
    margin-bottom: 1vw;
}
.rebuy {
    width: 70vw;
    margin-top: 3vw;
}
.chart{
    width: 70vw;
}


.final-w{
    
    position: relative;
}
.final-con {
    display: flex;
    justify-content: center;
    margin-top: 4vw;
}
.final{
    width: 52vw;
    height: 35vw;
    margin-right: 1vw;
}
.night{
    width: 17vw;
    height: 32vw;
}
.finalBtn {
    position: absolute;
    top: 69%;
    left: 29%;
    background-color: #3eb14c;
    width: 23vw;
    font-family: serif;
    height: 7vw;
    outline: none;
    font-size: 2vw;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
}
.finalBtn:hover{
    background-color: #6de02b;
}
.finalBtn:active{
    background-color: #74ff17;
}

.present-w{
    margin-top: 10vw;
    text-align: center;
}
.present{
    width: 74vw;
}

.copy-w{
    margin-top: 3vw;
    text-align: center;
}
.copy{
    width: 70vw;
}




/*関数*/
.fadein {
    opacity : 0;
    transform : translate(0px, 50px);
    transition:all 0.5s;
}
.fadein.scrollin {
    opacity : 1;
    transform : translate(0, 0);
}
.fadein_2 {
    opacity : 0;
    transform : translate(0, 50px);
    transition:all 0.5s;
}
.fadein_2.scrollin {
    opacity : 1;
    transform : translate(0, 0);
}
.fadein_3 {
    opacity : 0;
    transform : translate(0, 50px);
    transition:all 0.5s;
}
.fadein_3.scrollin {
    opacity : 1;
    transform : translate(0, 0);
}
.fadein_4 {
    opacity : 0;
    transform : translate(0, 50px);
    transition:all 0.5s;
}
.fadein_4.scrollin {
    opacity : 1;
    transform : translate(0, 0);
}
/*関数*/





/*---------------------------------------------レスポンシブ*/
@media screen and (max-width:480px){
    .topBtn{
        display: none;
    }
    header{
        height: 11vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .resCta {
        display: block;
        position: relative;
        margin-bottom: 16vw;
        text-align: center;
        margin-top: 12vw;
    }
    .topCta{
        width: 94vw;
    }
    .resT-btn {
        position: absolute;
        top: 64%;
        left: 13%;
        width: 75vw;
        height: 18vw;
        font-size: 24px;
        font-weight: bold;
        font-family: serif;
        outline: none;
        color: #ffffff;
        background-color: #3eb14c;
    }
    .resT-btn:active{
        background-color: #74ff17;
    }
    .more{
        display: none;
    }
    .but {
        width: 94vw;
        margin-top: 14vw;
    }
    .logo {
        width: 9vw;
        margin-left: 1vw;
        margin-top: 0.8vw;
    }
    header p {
        font-size: 17px;
        margin: 0;
        margin-top: 9%;
        margin-left: 14vw;
    }
    
    
    .topBtn {
        width: 31.5vw;
        height: 8vw;
        font-size: 12px;
        margin-top: 1.3vw;
    }
    .topImg {
        width: 94vw;
        margin-top: 11vw;
        margin-bottom: 8vw;
    }
    .world {
        width: 94vw;
        margin-top: 5vw;
    }
    .jef {
        margin-top: 7vw;
        width: 94vw;
    }
    .yanai {
        margin-top: 6vw;
        width: 94vw;
    }
    .bir {
        margin-top: 6vw;
        width: 94vw;
    }
    .mori {
        margin-top: 6vw;
        width: 94vw;
    }
    .bfe {
        margin-top: 6vw;
        width: 94vw;
        margin-bottom: 2vw;
    }
    .bel {
        margin-top: 6vw;
        width: 94vw;
    }
    .six img {
        width: 94vw;
        margin-bottom: 8vw;
    }

    .grid-w {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.8vw;
    }
    .grid-w img {
        width: 47vw;
        height: 25vw;
        margin: auto;
        margin-bottom: 4vw;
    }
    .fire {
        width: 94vw;
        margin-top: 3vw;
        margin-bottom: 6vw;
    }
    .plo1 {
        width: 94vw;
        margin-bottom: 3vw;

    }
    .plo2 {
        width: 94vw;
        margin-top: 6vw;
    }

    .free {
        width: 94vw;
        height: auto;
        margin-top: 10vw;
    }
    .reacon {
        width: 94vw;
        margin-bottom: 8vw;
    }
    .mlm {
        width: 94vw;
        margin-bottom: 7vw;
    }
    .intro {
        margin: auto;
        width: 94vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
    }
    .background {
        width: 94vw;
        margin-top: 4vw;
        margin-bottom: 13vw;
    }

    .run-w {
        margin-bottom: 13vw;
    }
    .img50 {
        display: flex;
        justify-content: space-between;
        margin-top: 1vw;
    }
    .present{
        width: 94vw;
    }
    .textImg {
        width: 94vw;
        height: 54vw;
        margin-bottom: 5vw;
        margin-right: 1vw;
        margin-left: 3vw;
    }
    .hiruzu {
        display: none;
    }
    .run-w h2 {
        width: 50vw;
        color: white;
        font-size: 21px;
        font-family: serif;
        margin-bottom: 5vw;
    }
    table {
        background-color: black;
        font-weight: bold;
        width: 90vw;
        color: white;
        /* font-size: 4px; */
    }
    td {
        padding: 2vw;
        font-size: 11px;
    }
    .re-mori {
        width: 94vw;
        margin-bottom: 1vw;
    }
    .rebuy {
        width: 94vw;
        margin-bottom: 0vw;
    }
    .chart{
        width: 94vw;
    }
    
    .final-con {
        display: flex;
        justify-content: space-between;
    }
    .final {
        width: 96vw;
        margin-top: 2vw;
        height: 55vw;
        margin-left: 3vw;
        margin-right: 1vw;
    }
    .night{
        display: none;
    }
    .finalBtn {
        top: 70%;
        left: 17%;
        width: 70vw;
        height: 15vw;
        font-size: 19px;
    }
    .copy {
        width: 94vw;
    }
    
    .cta-w{
        display: none;
    }

    .cta-res-w{
        display: block;
        margin-top: 4vw;
        position: relative;
        text-align: center;
    }
    .cta-res{
        width: 94vw;
        height: 50vw;
    }
    .ctaBtn-r {
        position: absolute;
        top: 66%;
        left: 15.5%;
        width: 70vw;
        height: 14vw;
        font-size: 21px;
        outline: none;
        font-weight: bold;
        color: white;
        font-family: serif;
        background-color: #3eb14c;
    }
    .ctaBtn-r:active{
        background-color: #74ff17;
    }
    
    
    
    
    
    
    
    
    
    
    
}


@media screen and (max-width:380px){
    .topBtn {
        width: 29.5vw;
        height: 8vw;
        font-size: 11px;
        margin-top: 1.3vw;
        margin-left: 2vw;
    }
    
    
    
    
}